<section class="header">
	
	<div class="search">
			<h1>Portfolio Search</h1>
			<label>search: </label>
			<input ng-model="query" placeholder="Search..." autofocus>
			
			<label class="formgroup">By:
				<select ng-model="myitemOrder">
					<option value="course_title">Course</option>
					<option value="app_title">Title</option>
				</select>
			</label>
			
			<label class="formgroup">
				<input ng-model="direction" type="radio" name="direction" checked>ascending
			</label>
			<label class="formgroup">
				<input ng-model="direction" type="radio" name="direction" value="reverse">descending
			</label>
	</div>
	
	<div class="clearfix"> </div>
	
	<div class="image_grid">
		<ul class="da-thumbs">
			<li ng-repeat="item in myitems | limitTo : 100 | filter: query | orderBy: myitemOrder:direction">
				
				<img ng-src="images/{{item.image}}.jpg" alt="{{item.app_title}}" width="200" height="200" />
				<article class="da-animate" style="display: block">
					<h3>{{item.course_title}}</h3>
					<em>{{item.app_title}}</em>
					
					<div class="{{item.image}}">
						<span class="link_post"> </span>
					</div>
					<a href="{{item.link}}" title="{{item.app_title}}" target="_blank">
						<span class="zoom"> </span>
					</a>
				</article>
				
			</li>
		</ul>
	</div>

<!--		
		<ul class="artpiece_list">
			<li ng-animate="'animate'" class="artpiece cf" ng-repeat="item in artpieces | limitTo : 100 | filter: query | orderBy: artpieceOrder:direction">
				<a href="#/details/{{artpieces.indexOf(item)}}">
					<img ng-src="images/thumbs/{{item.picture}}" alt="{{item.title}}"
					<div>
						<h2>{{item.title}}</h2>
						<h3>{{item.name | uppercase}}</h3>
						<p>{{item.year}}, {{item.nationality}}</p>
					</div>
				</a>
			</li>
		</ul>
-->		
<!--
<div class="header">

		<h1><strong>Fundamentals of Computing, Coursera Course by Rice University</strong></h1>

		<p>Python codes are interpreted by CodeSkulptor and Chrome, Firefox or Safari supports the CodeSkulptor.</p>

	</div>

	

	<div class="image_grid">

		<ul class="da-thumbs">

			<li>

				<img src="images/python_ricerocks.jpg" alt="Rick Rocks" width="200" height="200" />

				<article class="da-animate" style="display: block">

				<h3>Interactive Programming in Python</h3>

				<em>Rick Rocks</em>

				<div class="ricerocks"><span class="link_post"></span></div>

				<a href="http://www.codeskulptor.org/#user33_xgwvBeP33N_64.py" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/python_blackjack.jpg" alt="Blackjack" width="200" height="200" />

				<article class="da-animate" style="display: block">

				<h3>Interactive Programming in Python</h3>

				<em>Blackjack</em>

				<div class="blackjack"><span class="link_post"></span></div>

				<a href="http://www.codeskulptor.org/#user31_xzCoegnLLt_39.py" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/python_memory.jpg" alt="Memory Game" width="200" height="200" />

				<article class="da-animate" style="display: blcok">

				<h3>Interactive Programming in Python</h3>

				<em>Memory Game</em>

				<div class="memory"><span class="link_post"></span></div>

				<a href="http://www.codeskulptor.org/#user31_rh2SWiwNrd_31.py" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/python_pong.jpg" alt="Pong Game" width="200" height="200" />

				<article class="da-animate" style="display: block">

				<h3>Interactive Programming in Python</h3>

				<em>Pong Game</em>

				<div class="pong"><span class="link_post"></span></div>

				<a href="http://www.codeskulptor.org/#user31_XNo5IOq6om_22.py" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/python_stopwatch.jpg" alt="Stopwatch: the Game" width="200" height="200" />

				<article class="da-animate" style="display: block">

				<h3>Interactive Programming in Python</h3>

				<em>Stopwatch: The Game</em>

				<div class="stopwatch"><span class="link_post"></span></div>

				<a href="http://www.codeskulptor.org/#user30_pIcdoplLKA_4.py" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/python_rpsls.jpg" alt="Rock Paper Scissors Lizard Spock" width="200" height="200" />

				<article class="da-animate" style="display: block">

				<h3>Interactive Programming in Python</h3>

				<em>Rock Paper Scissors Lizard Spock</em>

				<div class="rpsls"><span class="link_post"></span></div>

				<a href="http://www.codeskulptor.org/#user30_cq7Z5IWydd_31.py" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/python_guess_the_number.jpg" alt="Guess the number" width="200" height="200" />

				<article class="da-animate" style="display: block;">

				<h3>Interactive Programming in Python</h3>

				<em>Guess the number</em>

				<div class="guess_the_number"><span class="link_post"></span></div>

				<a href="http://www.codeskulptor.org/#user29_QXIZSd7hlD_25.py" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

		</ul>

	</div>

	

	<div class="clearfix"></div>

	

	<div class="header">

		<h1><strong>Interactive Design in Northeastern University</strong></h1>

	</div>



    <div class="image_grid">

    	<ul class="da-thumbs">

    		<li>	

				<img src="images/vmfa.jpg" alt="v-mfa" width="200" height="200" />

				<article class="da-animate" style="display: block;">

				<h3>Thesis Project</h3>

				<em>V-MFA</em>

				<div class="vmfa"><span class="link_post"></span></div>

				<a href="http://www.hyunjunkim.com/as3/vmfa/" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

    		<li>

            	<img src="images/iid1.jpg" alt="A Guide for New Immigrants to America" width="200" height="200" />

            	<article class="da-animate" style="display: block;">

                <h3>Interactive Information Design I</h3>

                <em>A Guide for New Immigrants to America</em>

                <div class="iid1"><span class="link_post"></span></div>

                <a href="http://hyunjunkim.com/as3/iid1/" target="_blank"><span class="zoom"></span></a>

                </article>

            </li>

            <li>

            	<img src="images/iid2.jpg" alt="Study of Interactive Media in Fine Art" width="200" height="200" />

				<article class="da-animate" style="display: block;">

                <h3>Interactive Information Design II</h3>

                <em>Study of Interactive Media in Fine Art</em>

                <div class="iid2"><span class="link_post"></span></div>

                <a href="http://hyunjunkim.com/as3/iid2/" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

            	<img src="images/imp.jpg" alt="Basketball Ver. 2" width="200" height="200" />

            	<article class="da-animate" style="display: block;">

                <h3>Intermediate Programming for Digital Media</h3>

                <em>Basketball Ver. 2</em>

                <div class="ip"><span class="link_post"></span></div>

                <a href="http://www.hyunjunkim.com/as3/basketballv2/" target="_blank"><span class="zoom"></span></a>

                </article>

            </li>

			<li>

            	<img src="images/fmp.jpg" alt="Basketball Ver. 1" width="200" height="200" />

				<article class="da-animate" style="display: block;">

                <h3>Programming Foundations for Digital Media</h3>

                <em>Basketball Ver. 1</em>

                <a href="http://www.hyunjunkim.com/as3/basketballv1/" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/as3_catch.jpg" alt="Catch Balls" width="200" height="200" />

				<article class="da-animate" style="display: block;">

				<h3>Intermediate Programming for Digital Media</h3>

				<em>Catch Balls</em>

				<div class="catch"><span class="link_post"></span></div>

				<a href="http://www.hyunjunkim.com/as3/catch/" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

            <li>

            	<img src="images/st.jpg" alt="Cirque de Evil" width="200" height="200" />

				<article class="da-animate" style="display: block;">

                <h3>Foundations of Digital Storytelling</h3>

                <em>Cirque de Evil</em>

                <a href="http://www.hyunjunkim.com/as3/storytelling/" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

            	<img src="images/tm.jpg" alt="The Journey of Luffy" width="200" height="200" />

				<article class="da-animate" style="display: block;">

                <h3>Time-Based Media</h3>

                <em>The Journey of Luffy</em>

                <div class="tbm"><span class="link_post"></span></div>

                <a href="http://www.hyunjunkim.com/as3/timebasedmedia/The_Journey_of_Luffy_v1.6.zip" title="download" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

    </ul>

    </div>

    

    <div class="clearfix"></div>

    

    <div class="header">

    	<h1><strong>UX/UI Mockups</strong></h1>

    </div>

    <div class="image_grid">

    	<ul class="da-thumbs">

    		<li>

    			<img src="images/mockup_parrotutor.jpg" alt="Parrotutor" width="200" height="200" />

    			<article clas="da-animate">

    				<h3>Parrotutor</h3>

    				<em>Mockup for Chinese English Dictionary Apple App</em>

    				<a href="doc/parrotutor.pdf" title="download" target="_blank"><span class="zoom"></span></a>

    			</article>

    		</li>

    		<li>

    			<img src="images/mockup_boston_temple.jpg" alt="Mockup for Won Buddhism of Boston" width="200" height="200" />

				<article class="da-animate">

					<h3>Redesign Website</h3>

					<em></em>

					<a href="doc/redesign.pdf" title="download" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

    	</ul>

    </div>

    

    <div class="clearfix"></div>

    

    <div class="header">

		<h1><strong>Websites</strong></h1>

	</div>

	<div class="image_grid">

		<ul class="da-thumbs">

			<li>

				<img src="images/won_acu.jpg" alt="Won Acupuncture & Herbs" width="200" height="200" />

				<article  class="da-animate">

					<h3>Website Building</h3>

					<em>Won Acupuncture & Herbs</em>

					<a href="http://acupuncture.wondharmacenter.org" title="Won Acupuncture & Herbs" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/wdc.jpg" alt="Won Dharma Center" width="200" height="200" />

				<article  class="da-animate">

					<h3>Website Building</h3>

					<em>Won Dharma Meditation & Retreat Center</em>

					<div class="wdc"><span class="link_post"></span></div>

					<a href="http://wondharmacenter.org" title="Won Dharma Meditation & Retreat Center" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/paulchaleff.jpg" alt="Paul Chaleff" width="200" height="200" />

				<article class="da-animate">

					<h3>Website Building</h3>

					<em>Paul Chaleff Studio</em>

					<a href="http://paulchaleff.com" title="Paul Chaleff Studio" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/won_boston.jpg" alt="Won Buddhism of Boston" width="200" height="200" />

				<article class="da-animate">

					<h3>Website Building</h3>

					<em>Won Buddhism of Boston</em>

					<a href="http://boston.wonbuddhism.org" title="Won Buddhism of Boston" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/won_nyc.jpg" alt="Won Buddhism of Manhattan" width="200" height="200" />

				<article class="da-animate">

					<h3>Website Building</h3>

					<em>Won Buddhism of Manhattan</em>

					<a href="http://nyc.wonbuddhism.org" title="Won Buddhism of Manhattan" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/won_houston.jpg" alt="Won Buddhism of Houston" width="200" height="200" />

				<article class="da-animate">

					<h3>Website Building</h3>

					<em>Won Buddhism of Houston</em>

					<a href="http://houston.wonbuddhism.org" title="Won Buddhism of Houston" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

			<li>

				<img src="images/dosungyoo.jpg" alt="Dosung Yoo" width="200" height="200" />

				<article class="da-animate">

					<h3>Website Building</h3>

					<em>Dosung Yoo</em>

					<a href="http://dosungyoo.com" title="Dosung Yoo" target="_blank"><span class="zoom"></span></a>

				</article>

			</li>

		</ul>

	</div>		
-->	
</section>

