body {
    width: 100%;
    height: 100%;
    background: black;
    color: white;
}

/* use a smaller base size for small screens */
@media (max-device-width: 480px) {
    header, section {
        font-size : 32px;
    }
}


/* use a bigger base size for tablets */
@media (min-device-width: 768px) {
    header, section {
        font-size : 64px;
    }
    #game-screen .game-board {
        margin : 0.75em;
    }
    .jewel-size {
        font-size : 80px;
    }
}

.header {
    margin: 50px 0;
    padding: 10px;
}

.inputSection {
    margin: 50px 0;
    padding : 10px;
}

.outputSection {
    margin: 100px 0;
    padding: 50px 0;
}

/*.inputBox {
    max-width: 200px;
    width: 100%;
    padding: 30px;
    margin: 30px;
    color: #000;
    font-size: 30px;
    border-radius: 10px;
}*/

.error {
    color: red;
    font-weight: bold;
}

.sans { font: normal 60px/normal 'Open Sans Condensed', sans-serif; }
.muli { font: normal 60px/normal 'Muli', sans-serif; }
.warnes { font: normal 60px/normal "Warnes", Helvetica, sans-serif; }


.v-center {
    vertical-align: middle;
}